@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --text-grey: #747A82;
    --light-brown: #DDDDDD;
    // --bg-yellow: #F6F2EB;
    --bg-pink: #FFE6E0;
}

.border-left-red {
    border-left: 5px solid rgb(184, 10, 10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;
}

input:focus {
    outline: none;
}

p {
    color: var(--text-grey);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.nav,
nav {
    background-color: var(--bg-yellow);
}

.nav-logo {
    translate: 0% 28%;
    background: #fff;
    z-index: 2;
    background: var(--bg-yellow);
}

.nav-text:hover {

    &::before {
        content: "";
        width: 75%;
        height: 3px;
        border-radius: 10px;
        background-color: #C0304F;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &::after {
        content: "";
        width: 20%;
        height: 3px;
        background-color: #C0304F;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//about-us
.about-us {
    &>div {
        flex: 1;

        img {
            max-width: 500px;
        }

        p>span {
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
}

//stats
.stats {
    background-color: var(--bg-pink);
}

//walking-together
.walking-together {
    .text {
        &>* {
            flex: 1
        }
    }

    .cards {
        .card {
            background-color: var(--bg-pink);
            max-width: 300px;

            .icon {
                height: 70px;
                width: 70px;
                border-radius: 50%;
            }
        }
    }
}

.happy-prayers {
    &>div {
        flex: 1;
    }

    .count {
        background-color: #C0304F;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 10px solid white;

        right: 10%;
        bottom: 10%;

        p {
            font-size: 10px;
        }
    }

    .number {
        color: var(--bg-pink);
        font-size: 80px;
    }

    .text>* {
        max-width: 550px;
    }
}

//footer
.footer {
    background-image: url(http://localhost:8000/assets/footer/footer.png);
    background-repeat: no-repeat;
    background-size: cover;

    .brand {
        .logo {
            max-width: 200px;
        }

        p {
            max-width: 420px;
        }
    }

    hr {
        color: white;
    }

    .footer-content {
        h3 {
            color: white;
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        input {
            background-color: #2F3032;
        }

        button {
            background-color: #C0304F;
            color: #2F3032;
        }
    }

}