@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
:root {
  --text-grey: #747A82;
  --light-brown: #DDDDDD;
  --bg-yellow: #F6F2EB;
  --bg-pink: #FFE6E0;
}

a {
  text-decoration: none !important;
  color: var(--text-grey) !important;
}

.border-left-red {
  border-left: 5px solid rgb(184, 10, 10);
}

* {
  font-family: "Roboto Serif", serif;
}

input:focus {
  outline: none;
}

p {
  color: var(--text-grey);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.nav,
nav {
  background-color: var(--bg-yellow);
}

.nav-logo {
  translate: 0% 28%;
  background: #fff;
  z-index: 2;
  background: var(--bg-yellow);
}

.nav-text:hover::before {
  content: "";
  width: 75%;
  height: 3px;
  border-radius: 10px;
  background-color: #C0304F;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-text:hover::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #C0304F;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero {
  background-color: var(--bg-yellow);
}
.hero .row > div:nth-child(1) {
  order: 0;
}
.hero .row > div:nth-child(1) > div {
  border: 1px solid var(--light-brown);
  border-radius: 50% 50% 0 0;
}
.hero .row > div:nth-child(1) .button-nav {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.hero .row > div:nth-child(1) .button-nav img {
  width: 50%;
  height: 50%;
}
.hero .row > div:nth-child(2) {
  order: 4;
}
.hero .row > div:nth-child(3) {
  order: 3;
}
.hero .row > div:nth-child(3) > div.statue {
  border: 1px solid var(--light-brown);
  border-radius: 50% 50% 0 0;
}
.hero .donate .large-text {
  font-size: 50px;
  font-style: italic;
}
.hero .donate .separator {
  width: 1px;
  height: 80px;
  background-color: var(--light-brown);
}
.hero .donate p {
  max-width: 500px;
}
.hero .donate .donate-logo {
  width: 150px;
  top: -40%;
}
.hero .donate .donate-logo img {
  width: 100%;
}

@media screen and (min-width: 990px) {
  .hero .row > div:nth-child(2) {
    order: 2;
  }
}
.prince-the-lord .image {
  flex: 1;
}
.prince-the-lord .image img {
  width: 100%;
}
.prince-the-lord .text {
  flex: 1;
}
.prince-the-lord .text h2 {
  border-left: 5px solid rgb(184, 10, 10);
  max-width: 400px;
}
.prince-the-lord .text .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px dashed var(--light-brown);
}

.join-us {
  background-color: var(--bg-pink);
}
.join-us .pictures div:nth-child(2) {
  left: -10%;
}
.join-us .pictures div:nth-child(3) {
  left: -20%;
}
.join-us .pictures div:nth-child(4) {
  right: 2%;
}
.join-us .separator {
  height: 80px;
  width: 2px;
  background-color: var(--light-brown);
}
.join-us .text {
  max-width: 500px;
}

.faithful-heart > div {
  flex: 1;
}
.faithful-heart .picture img {
  max-width: 450px;
}
.faithful-heart .text .title {
  border-left: 5px solid rgb(176, 22, 22);
  max-width: 400px;
}
.faithful-heart .famous-quote {
  border: 2px dashed black;
  width: 180px;
}
.faithful-heart .martin::before {
  content: url(http://localhost:8000/assets/home/faithfulHeart/quote.svg);
  margin-right: 10px !important;
  position: relative;
  top: 0;
}

.potential > div {
  flex: 1;
}
.potential p {
  max-width: 450px;
}
.potential .title {
  border-left: 5px solid rgb(188, 22, 22);
}

.satisfaction .text .title {
  max-width: 350px;
}
.satisfaction .text p {
  max-width: 500px;
}
.satisfaction .missions .mission p {
  max-width: 200px;
}
.satisfaction .missions .mission .arrow {
  border: 1px solid grey;
  border-radius: 50%;
}
.satisfaction .missions .mission:hover {
  background-color: var(--bg-pink);
  border-radius: 50px 50px 50px 0px;
}
.satisfaction .missions .mission:hover .read-more {
  display: block !important;
}
.satisfaction .missions .mission:hover .arrow {
  background-color: #C0304F;
}

.grow-stronger > div {
  flex: 1;
}
.grow-stronger .text .title {
  max-width: 400px;
}
.grow-stronger .text .points span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.grow-stronger .image .hand {
  left: -10%;
  bottom: -10%;
}
.grow-stronger .image .girl {
  height: 500px;
}

@media (min-width: 1024px) {
  .grow-stronger .image .girl {
    position: absolute !important;
  }
}
.members .text .title,
.members .text .para {
  flex: 1;
}
.members .text .title > h2,
.members .text .para > h2 {
  max-width: 350px;
}
.members .text .title > p,
.members .text .para > p {
  max-width: 450px;
}
.members .crown > img,
.members .flower > img {
  max-width: 500px;
}
.members .person-img img {
  border-radius: 150px;
}
.members .separator {
  height: 50px;
  width: 2px;
  background-color: var(--light-brown);
}
.members .socials {
  visibility: hidden;
}
.members .share {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.members .memberInfo:hover .share {
  background-color: #C0304F;
}
.members .memberInfo:hover .socials {
  visibility: visible;
}

.events .text > div {
  flex: 1;
}
.events .eventsWrapper {
  overflow: scroll;
}
.events .eventsWrapper::-webkit-scrollbar {
  display: none;
}
.events .eventsCarousel {
  transition: 0.8s ease;
}
.events .nav-buttons > div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}
.events .nav-buttons > div:hover {
  background-color: #C0304F;
}

.latest-article .text > div {
  flex: 1;
}
.latest-article .text > div > * {
  max-width: 400px;
}
.latest-article .featured-and-form > div {
  flex: 1;
}
.latest-article .featured-and-form .featured {
  background-image: url(http://localhost:8000/assets/home/latestArticle/background.png);
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}
.latest-article .featured-and-form .featured .featured-text {
  max-width: 350px;
  top: 15%;
  left: 10%;
}

.pagination > li > a {
  background-color: white;
  color: rgb(133, 17, 17);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: rgb(217, 62, 62);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: rgb(255, 255, 255);
  background-color: rgb(133, 17, 17);
  border: solid 1px rgb(172, 16, 19);
}

.footer {
  background-image: url(http://localhost:8000/assets/footer/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .brand .logo {
  max-width: 200px;
}
.footer .brand p {
  max-width: 420px;
}
.footer hr {
  color: white;
}
.footer .footer-content h3 {
  color: white;
  font-size: 20px;
}
.footer .footer-content p {
  font-size: 14px;
}
.footer .footer-content input {
  background-color: #2F3032;
}
.footer .footer-content button {
  background-color: #C0304F;
  color: #2F3032;
}/*# sourceMappingURL=index.css.map */