@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --text-grey: #747A82;
    --light-brown: #DDDDDD;
    // --bg-yellow: #F6F2EB;
    --bg-pink: #FFE6E0;
}

.border-left-red {
    border-left: 5px solid rgb(184, 10, 10);
}

* {
    font-family: "Roboto Serif", serif;
}

p {
    color: var(--text-grey);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.nav,
nav {
    background-color: var(--bg-yellow);
}

.nav-logo {
    translate: 0% 28%;
    background: #fff;
    z-index: 2;
    background: var(--bg-yellow);
}

.nav-text:hover {

    &::before {
        content: "";
        width: 75%;
        height: 3px;
        border-radius: 10px;
        background-color: #C0304F;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &::after {
        content: "";
        width: 20%;
        height: 3px;
        background-color: #C0304F;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//hero
.hero {
    background-color: var(--bg-yellow);

    .row {
        &>div:nth-child(1) {
            order: 0;

            &>div {
                border: 1px solid var(--light-brown);
                border-radius: 50% 50% 0 0;
            }

            .button-nav {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        &>div:nth-child(2) {
            order: 4;
        }

        &>div:nth-child(3) {
            order: 3;

            &>div.statue {
                border: 1px solid var(--light-brown);
                border-radius: 50% 50% 0 0;
            }
        }
    }

    .donate {
        .large-text {
            font-size: 50px;
            font-style: italic;
        }

        .separator {
            width: 1px;
            height: 80px;
            background-color: var(--light-brown);
        }

        p {
            max-width: 500px;
        }

        .donate-logo {
            width: 150px;
            top: -40%;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:990px) {
    .hero {
        .row {
            &>div:nth-child(2) {
                order: 2;
            }
        }
    }

}

//we call prince the lord
.prince-the-lord {
    .image {
        flex: 1;

        img {
            width: 100%;
        }
    }

    .text {
        flex: 1;

        h2 {
            border-left: 5px solid rgb(184, 10, 10);
            max-width: 400px;
        }

        .logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 2px dashed var(--light-brown);
        }
    }

}

//join us
.join-us {
    background-color: var(--bg-pink);

    .pictures {
        div:nth-child(2) {
            left: -10%;
        }

        div:nth-child(3) {
            left: -20%;
        }

        div:nth-child(4) {
            right: 2%;
        }
    }

    .separator {
        height: 80px;
        width: 2px;
        background-color: var(--light-brown);
    }

    .text {
        max-width: 500px;
    }
}

//faithful-heart
.faithful-heart {
    &>div {
        flex: 1;
    }

    .picture {
        img {
            max-width: 450px;
        }
    }

    .text {
        .title {
            border-left: 5px solid rgb(176, 22, 22);
            max-width: 400px;
        }
    }

    .famous-quote {
        border: 2px dashed black;
        width: 180px;
    }

    .martin::before {
        content: url("../assets/home/faithfulHeart/quote.svg");
        position: relative;
        top: 0;
    }

}

//potential
.potential {
    &>div {
        flex: 1
    }

    p {
        max-width: 450px;
    }

    .title {
        border-left: 5px solid rgb(188, 22, 22);
    }
}

//satisfaction
.satisfaction {
    .text {
        .title {
            max-width: 350px;
        }

        p {
            max-width: 500px;
        }
    }

    .missions {
        .mission {
            p {
                max-width: 200px;
            }

            .arrow {
                border: 1px solid grey;
                border-radius: 50%;
            }
        }

        .mission:hover {
            background-color: var(--bg-pink);
            border-radius: 50px 50px 50px 0px;

            .read-more {
                display: block !important;
            }

            .arrow {
                background-color: #C0304F;
            }
        }

    }
}

//grow-stronger
.grow-stronger {
    &>div {
        flex: 1
    }

    .text {
        .title {
            max-width: 400px;
        }

        .points {
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
            }
        }
    }

    .image {
        .hand {
            left: -20%;
            bottom: -20%;
        }

        .girl {
            height: 600px;
        }
    }
}

//members
.members {
    .text {
        .title,
        .para {
            flex: 1;
            max-width: 350px;
        }
    }
}