@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
:root {
  --text-grey: #747A82;
  --light-brown: #DDDDDD;
  --bg-pink: #FFE6E0;
}

a {
  text-decoration: none !important;
  color: var(--text-grey) !important;
}

.border-left-red {
  border-left: 5px solid rgb(184, 10, 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

input:focus {
  outline: none;
}

p {
  color: var(--text-grey);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.nav,
nav {
  background-color: var(--bg-yellow);
}

.nav-logo {
  translate: 0% 28%;
  background: #fff;
  z-index: 2;
  opacity: 1;
}

.nav-text:hover::before {
  content: "";
  width: 75%;
  height: 3px;
  border-radius: 10px;
  background-color: #C0304F;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-text:hover::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #C0304F;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.guide p {
  max-width: 900px;
}

.carousel-section .carousel-wrapper {
  overflow: scroll;
  transition: 1s ease;
}
.carousel-section .carousel-wrapper .carousel {
  transition: 1s ease;
}
.carousel-section .carousel-wrapper .carousel > div {
  flex-shrink: 0;
}
.carousel-section .carousel-wrapper .carousel img {
  width: 100%;
  max-height: 400px;
}
.carousel-section .buttons {
  top: 25%;
  right: 2%;
}
.carousel-section .buttons > div {
  height: 25px;
  width: 25px;
  background-color: #C0304F !important;
}
.carousel-section .buttons > div img {
  width: 75%;
}
.carousel-section .buttons div:nth-child(1) {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid white;
}
.carousel-section .buttons div:nth-child(2) {
  border-radius: 0 0 5px 5px;
}
.carousel-section .carousel-wrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .carousel-section .buttons {
    top: 25%;
    right: 0;
  }
  .carousel-section .buttons > div {
    height: 50px;
    width: 50px;
    background-color: #C0304F !important;
  }
}
#members-div .separator {
  height: 50px;
  width: 2px;
  background-color: var(--light-brown);
}
#members-div .socials {
  visibility: hidden;
}
#members-div .share {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#members-div .memberInfo:hover .share {
  background-color: #C0304F;
}
#members-div .memberInfo:hover .socials {
  visibility: visible;
}

.footer {
  background-image: url(http://localhost:8000/assets/footer/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .brand .logo {
  max-width: 200px;
}
.footer .brand p {
  max-width: 420px;
}
.footer hr {
  color: white;
}
.footer .footer-content h3 {
  color: white;
  font-size: 20px;
}
.footer .footer-content p {
  font-size: 14px;
}
.footer .footer-content input {
  background-color: #2F3032;
}
.footer .footer-content button {
  background-color: #C0304F;
  color: #2F3032;
}/*# sourceMappingURL=pastorTeam.css.map */